:root{
    --escuro: #21222c;
    --claro: #7c7fa2;
    --neutro: #50526b;
    --maisClaro: #b4b9ed;
    --maisEscuro: #13131b;

    --cinza: #e4e4e4;
}

.time{
    background: var(--claro);
    text-align: center;
    font-size: 18px;
    padding: 32px;
    border-top:1px solid;
    box-shadow:10px 10px 20px #00000030;
    position: relative;
}

.time .nomeDoTime{
    text-align: center;
    display: inline-block;
    margin: auto;


    border-bottom: 4px solid ;
    padding-bottom: 8px;
    margin-bottom:32px ;
}

.time .colaboradores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.time #colorTime{
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    outline: 0;
    background: transparent;
    border:5px solid transparent;
    
}