:root{
    --branco: #ffffff;
    --cinzaClaro: #e4e4e4;
}



.formulario{
    width: 70%;
    background: var(--cinzaClaro);
    padding: 40px;
    border-radius: 20px;

    box-shadow: inset 5px 5px 10px #00000070;
}

.formContainer{
    display: flex;
    justify-content: center;
    padding: 20px;
}