:root{
    --branco: #ffffff;
    --preto: #000000;
    --cinzaClaro: #e4e4e4;
}


.campoText{
    margin: 18px 0px;
    background: transparent;
}

.campoText label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}
.campoText input{
    width: 100%;

    background: var(--branco);
    box-shadow: 0px 5px 10px #00000060;
    font-size: 18px;
    padding: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.campoText .span{
    position: absolute;
    opacity: 0;
    background: var(--branco);
    color: var(--preto);
    font-weight: 800;

    transition: .3s;
}

.campoText label:hover .span{
    opacity: 1;
}