:root{
    --branco: #ffffff;
    --preto: #000000;
    --cenzaClaro: #e4e4e4;
    --cenzaEscuro: #202020;
    --azul: #6278F7;
    --azulEscuro: #2e376c;
    
}

.areaBotao{
    margin-top: 28px;
}

.botaoForm{
    font-size: 18px;
    font-weight: 700;
    padding: 18px;
    box-shadow: 0px 5px 10px #00000060;
    border-radius: 5px;
    border: none;
    background: var(--azul);
    color: var(--cenzaEscuro);

    transition: .1s;
    cursor: pointer;

}

.botaoForm:active{
    transform: translateY(5px);
    box-shadow: none;

}
